@charset "utf-8";
/* CSS Document */
#fl{height:500px; padding:0px 22px; }
tr{ font-family:黑体;}

h3{ text-align:center;}
    #a{ width:380; float:left; padding:10px 15px;}
	#a .td1{padding:10px 0px;letter-spacing:15px;}
	#a .td2{ letter-spacing:100px;}
	
	#b{width:580px;float:right;}
	#b .table{width:400px;}
	#b td{ line-height:30px; border-bottom:#999 1px dashed;}
	#b dl{margin-top:10px;}
	#b dt{ float:left; height:40px; padding-top:10px; padding-left:10px;margin:10px 0px; background-color:#FFC; }
	#b dd{float:left;line-height:20px;margin-top:10px;background-color:#FFC;margin:10px 0px; width:300px; padding:5px;}
	
	#c{ float:left;}
	
	
	
	