@charset "utf-8";
/* CSS Document */
div,dl,dt,dd{ padding:0px; margin:0px;}
#ha{ background:url(image/bg.gif) no-repeat;width:240px;height:300px;}
dl{ padding-top:32px; }
dt{ float:left;height:60px;padding-left:18px; padding-top:2px;}
dd{ float:left;height:60px;padding-top:2px;}
a{text-decoration:none;color:#000; text-align:center; line-height:50px; font-size:14px;width:240px;}

