@charset "utf-8";
/* CSS Document */
#deng{ height:500px;width:1024px;background:url(../image/login_bg.gif) no-repeat 22px 0px; padding-right:22px;}
	#deng-1{ width:500px; height:400px;  float:left; margin-top:40px; margin-left:30px; border-right:#999 1px solid;}
	   #deng-1 form{ width:420px; padding-left:80px;}
	#deng-2{width:400px; height:400px;  float:right; margin-top:40px; margin-right:10px;}
	   .lu-1{ font-weight:bold; color:#06C;}
       #deng-2 table{ padding-left:50px;}
       #deng-3{width:265px; height:75px; margin-top:5px; margin-left:30px; padding:10px 0px; padding-left:25px; border:#c96 1px solid; background-color:#ffc; }
	   .dt1{ float:left; margin-bottom:6px; border-top:#c96 1px solid; border-left:#c96 1px solid; border-bottom:#c96 1px solid; background-color:#fff;}
	   .dt2{ width:220px;line-height:31px; margin-bottom:6px;border-top:#c96 1px solid; border-right:#c96 1px solid; border-bottom:#c96 1px solid;background-color:#fff;}
	   
	   
	  