@charset "utf-8";
/* CSS Document */
#gouwu{ width:980px; height:460px; margin-left:20px;}
   #gouwu span{margin-left:80px; font-weight:bold;}
   
   #gouwu1{height:200px;  background:url(../image/buytitle_bg.jpg) no-repeat 0px 23px;}
       #gouwu1 p{ font-weight:bold; padding-left:60px;}
	   #gouwu1 table{ padding-top:20px;}
	  .wu1{ font-weight:bold;}
	  .wu2{ width:380px;}
	  .wu3{ color:#999;width:100px;}
	  .wu4{ color:#F00;width:100px;}
	  .wu5{width:100px;}
	  #gouwu1 a{ text-decoration:none; color:#000;}
	  #gouwu1 a:hover{ color:#F33;}
   #gouwu2{height:200px;  background:url(../image/buytitle_bg.jpg) no-repeat 0px 23px;} 
       #gouwu2 p{ font-weight:bold; padding-left:60px;}
	   #gouwu2 table{ margin-left:100px;}
   
