@charset "utf-8";
/* CSS Document */
  #dz{ height:600px;background:url(image/catlist_bg.gif) no-repeat 20px 0px; padding-left:20px;}
  table{ text-align:center;}
  .td1{ width:300px; font-weight:bold; padding-top:50px;}
  .hg{ line-height:25px;}
   td{ border-bottom:#666 1px dashed;}
  
  

