@charset "utf-8";
/* CSS Document */
	body,div,table,tr,td{ margin:0px; padding:0px;}
	#main-dzcp{ background:url(image/catlist_bg.gif) no-repeat; width:1024px; height:640px; text-align:center; margin:0px auto; margin-left:23px;}
		table{ padding-top:50px;}
		.td1{ font-weight:bold; font-size:14px;}
		td{ width:270px; line-height:20px; padding-top:20px; border-bottom: #CCC 1px dashed;}
		a{ text-decoration:none; color:#000;}
		a:hover{ color:#FC6;}
