@charset "utf-8";
/* CSS Document */

body,div,ul,li{ margin:0px; padding:0px;list-style:none; margin:0px auto; }
	#container{width:1500px; margin:0px auto; font-size:12px}
	#zhuti{
	height:150px;background:url(image/h_bg.jpg) no-repeat;}
		#logo1{  width:580px; height:96px;float:left;  }
		#logo2{ width:480px; height:39px; ; float:left;}
			#logo2 li{ float:left;list-style:none;color:#000;line-height:29px; font-weight:bold;}
			#logo2 a{ text-decoration:underline;list-style:none; }
			.p{ background-image:url(image/metu/btn1.jpg); float:}
		#logo3{ width:580px; height:33px;;float:left; color:#666; padding:20px;}
		
		#logo4{ width:100%; height:34px; float:left; padding:23px;}
			#logo4 li{ color:#000;float:left;list-style:none; line-height:1px; width:84px; font-weight:bold; margin:0px auto;}
			#logo4 a{ text-decoration:underline;list-style:none; }
		
	#shengti{
	height:500px;
	}
	#weibu{
	height:100px;
	}
		#left{ width:512px; height:100%; float:left; background-color:#3C3}
		#right{ width:512px; height:100%; float:left; background-color:#F03}