@charset "utf-8";
/* CSS Document */
div,dl,dt,dd{ margin:0px; padding:0px;}
	#div{ background:url(image/image1/bg.gif) no-repeat; width:233px; height:300px; padding:37px 0px;}
	dl{ float:left;}
	dt{ border:#CCC 1px solid; margin:8px 0px; width:53px; height:46px; float:left;}
	dd{ float:right; line-height:60px; text-align:center; font-size:14px; padding:0px 15px;}
	#div a:hover{ color:#3F3;}
	a{ text-decoration:none;}
	

