@charset "utf-8";
/* CSS Document */

body,div,ul,li,dl,dt,dd,img{ margin:0px; padding:0px; font-size:14px; list-style:none; }

#container{ width:1024px; margin:0px auto;}
/*  头部*/
#header{width:1024px;  height:132px; background-color:#CCC; background: url(../image/h_bg.jpg) no-repeat; }
	#logo{ height:96px; width:280px;  float:left;}
	#menu{ height:39px; width:480px;  float:right;  }
	   #menu li{list-style:none; float:left;  padding-left:5px; }
	   #menu a{ text-decoration:none;  color:#000; line-height:39px;  text-align:center; }
	   img{ padding-top:5px;}
	   .in{ background: url(../image/btn1.jpg) no-repeat 0px 8px; width:38px; height:26px;}
	   
	   
	#hello{ height:33px; width:580px; float:right;  padding-top:20px;}
	#nav{ height:34px; width:100%;  float:right;  padding:7px ;}
	  #nav ul{ padding-left:35px;}
	  #nav li{ list-style:none; float:left; padding-left:13px; width:70px; font-weight:bold;font-size:12px;text-align:center; line-height:30px;  }
	  #nav a{ text-decoration:none; width:10px; height:80px; color:#000;}
	  #nav a:hover{ background: url(../image/nav_bg.png) no-repeat ; font-size:16px;}
	  
	  /* 主体*/
#main{ height:670px; background: url(../image/bg1.gif) no-repeat 22px 0px; padding-left:22px; }
    #left{  width:200px; height:650px;  float:left; padding-left:10px;  }
	    #left ul{  padding-top:30px;  margin-top:5px;}
		#left .ment{ color:#F30; font-size:14px; font-weight:bold; padding-right:100px;}
		#left li{ float:left; line-height:25px; padding-right:15px;}
		#left a{color:#000; text-decoration:none;}
		#left a:hover{ color:#F30;}
		
	#center{ width:525px; height:650px;  float:left;  text-align:center;}
	    
	   #center-b{ height:450px;  padding-top:35px; padding-left:15px;}
	   #center-b dl{ float:left;  width:155px; height:120px; margin:7px;}
	   #center-b dt{ border:#CCC 1px solid;}
	   #center-b dd a{ color:#000;text-decoration:none; }
	   #center-b dd a:hover{ color:#F00;}
	
	#rigth{ width:240px; height:650px; float:left;}
	    #rigth-1{padding-top:180px; padding-left:15px;}
		#rigth-1 dl{ width:240px; height:60px; }
		#rigth-1 img{  height:50px; float:left;  border:#CCC 1px solid; }
		#rigth-1 dd a{float: right; color:#000;  text-decoration:none; text-align:center; padding-top:20px; padding-right:25px;}
		#rigth-1 dd a:hover{ color:#F00;} 
	/* 底部*/
#footer{ width:1024px;height:100px; text-align:center; }
  #footer a{ text-decoration:none; color:#000;}
  #footer a:hover{ color:#F30;}

#zhu-1{ width:980px; height:650px; background: url(../image/reg_bg.gif) no-repeat 20px 0px; padding-left:20px;}
     table{ padding-top:60px; line-height:40px; font-family:黑体;}
    .td-1{ text-align: right; width:160px;}
	.td-2{ text-align:left;width:460px;}
	.td-3{width:260px;}
	span{ font-weight:bold;}

#sp{ width:980px; height:400px;}
	h3{ text-align:center;}
	#sp-1{ width:39%; height:420px;  float:left;}
	    #tdst{ height:200px; width:200px;}
		#sp-1 table{ margin:20px  20px;}
		#sp-1 td{ line-height:30px;}
		#sp-tr img{ border:#CCC 1px solid;}
		
	#sp-2{width:60%; height:400px; float:right; }
		#tbre{  width:330px; height:50px;}
		
		#sp-2 table td{ border-bottom: #CCC 1px dashed; line-height:30px;}
		#trat{ width:330px; height:100px;margin-top:42px;  }
		
		#sp-2 dt{ float:left;background-color:#FFC;  height:39px; text-align:center; 
		         border-bottom:#CC6 1px solid; border-left:#CC6 1px solid; border-top:#CC6 1px solid;}
		#sp-2 dd{ float:left; margin-right:250px;background-color:#FFC; height:39px; line-height:20PX;
		         border-bottom:#CC6 1px solid; border-top:#CC6 1px solid; border-right:#CC6 1px solid;}
