@charset "utf-8";
/* CSS Document */
#dzsq-1{ width:980px; height:600px; background:url(image/catlist_bg.gif) no-repeat 20px 0px; padding-left:20px;}
.td1{ width:240px; height:100px; font-weight:bold; text-align:center; padding-top:20px;}
.td2{ text-align:center;}
td{ border-bottom:#999 1px dashed;} 
span{ font-weight:bold;}