@charset "utf-8";
/* CSS Document */
#vip{ width:980px;height:460px; background:url(amger5/login_bg.gif) no-repeat 22px 0px; padding-left:20px; font-family:黑体;}
#vl{ width:470px; height:400px;px; float:left; padding-top:35px; padding-left:25px;}
	table{ line-height:30px;}
	.td1{width:120px; text-align:right;}
	.td2{height:40px; padding-left:150px;}
#line{width:1px; height:400px; float:left; margin-top:40px;border-right:#999 1px solid;}
#vr{ width:460px;height:400px;float:right; padding-top:50px; padding-left:15px; }
	.table{ padding-left:30px;}
	.td3{ padding-left:60px;}
#div{ width:265px; height:60px; margin-top:5px;margin-left:30px; padding:10px 0px;padding-left:25px;border:#C96 1px solid; background-color:#FFC;}
	.t1{ float:left; margin-bottom:6px; border-top:#C96 1px solid; border-left:#C96 1px solid; border-bottom:#C96 1px solid;background-color:#FFF;}
	.t2{width:220px; line-height:26px; margin-bottom:6px; border-top:#C96 1px solid; border-right:#C96 1px solid; border-bottom:#C96 1px solid; background-color:#FFF;}
	span{ color:#06F;}
